---

title: College Tower Defense Game

---

<script>
	import Title from '$lib/components/title.svelte';
	import Carousel from '$lib/components/carousel.svelte';


</script>

<Title text={title}/>




